<% include ./partials/header %>
<div class="login-form container">
    <h1> LOGIN FORM </h1>
    <form  action="/login" method="POST">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <input class="form-control input-group" type="text" placeholder="username" name="username"><br>
                <input class="form-control input-group" type="password" placeholder="password" name="password"><br>
                <input class="btn btn-primary btn-md" type="submit"><br>
            </div>
        </div>
    </form>
</div>


<% include ./partials/footer %>

