.thumbnail img{
    width:100%;
} 

.thumbnail{
    padding:0;
    margin: 0;
}

#caption_header{
    display: inline;
}
#deleteform{
    display: inline;
}

.btn-link{
    padding: 0;
    
}

#deletecommentform{
    display: inline;
}

#comment_p{
    margin: 0;
}

#author_name{
    margin-top: 10px;
}

.login-form{
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #dcdddf;
}

.glyphicon-tent{
    postion: relative;
    top: 8px;
    padding-right: 10px;
}